In [1]:
import pandas as pd
payments = pd.read_csv(R'restaurant\chefmozaccepts.csv')
places = pd.read_csv(R'restaurant\geoplaces2.csv')

In [2]:
# 1. What are all of the supported payment methods for each place?
name_and_places = places.merge(payments, how = 'inner', on = 'placeID')
name_and_places[['name', 'Rpayment']]

                               name             Rpayment
0                   puesto de tacos                 cash
1        El Rinc�n de San Francisco                 cash
2        El Rinc�n de San Francisco                 VISA
3        El Rinc�n de San Francisco  MasterCard-Eurocard
4    little pizza Emilio Portes Gil                 cash
..                              ...                  ...
248                      Sushi Itto                 cash
249                      Sushi Itto                 VISA
250                      Sushi Itto  MasterCard-Eurocard
251                      Sushi Itto     American_Express
252                       Paniroles                 cash

[253 rows x 2 columns]

In [3]:
#2. What are the parking statuses for each place?
parkings = pd.read_csv(R'restaurant\chefmozparking.csv')
name_and_parking = places.merge(parkings, how = 'inner', on = 'placeID')
name_and_parking[['name', 'parking_lot']]

                               name parking_lot
0                   Kiku Cuernavaca        none
1                   puesto de tacos        none
2        El Rinc�n de San Francisco        none
3    little pizza Emilio Portes Gil        none
4                     carnitas_mata         yes
..                              ...         ...
125                         Chaires         yes
126                      Sushi Itto        none
127                       Paniroles        none
128     Restaurant Bar Coty y Pablo        none
129                sirloin stockade        none

[130 rows x 2 columns]

In [4]:
# 3. What are the cuisines for each place?
cuisines = pd.read_csv(R'restaurant\chefmozcuisine.csv')
name_and_cuisines = places.merge(cuisines, how = 'inner', on = 'placeID')
name_and_cuisines[['name', 'Rcuisine']]

                               name   Rcuisine
0                   Kiku Cuernavaca   Japanese
1                   puesto de tacos    Mexican
2        El Rinc�n de San Francisco    Mexican
3    little pizza Emilio Portes Gil   Armenian
4                     carnitas_mata    Mexican
..                              ...        ...
107                         Chaires     Bakery
108                         Chaires  Cafeteria
109                      Sushi Itto   Japanese
110                       Paniroles    Italian
111     Restaurant Bar Coty y Pablo        Bar

[112 rows x 2 columns]

In [5]:
# 4. What is the average rating, average food rating, average service rating, minimum food rating, minimum service rating, and maximum service rating for the restaurants by cuisine?

ratings = pd.read_csv(R'restaurant\rating_final.csv')
ratings_cuisines = ratings.merge(cuisines, how='inner', on='placeID')
ratings_cuisines = ratings_cuisines.dropna(subset=['rating', 'food_rating', 'service_rating', 'Rcuisine'])

cuisine_list = ratings_cuisines.Rcuisine.unique()

for cuisine in cuisine_list:
    print(cuisine, ratings_cuisines[ratings_cuisines.Rcuisine == cuisine].describe())

Fast_Food              placeID     rating  food_rating  service_rating
count      91.000000  91.000000    91.000000       91.000000
mean   134852.989011   1.164835     1.186813        0.956044
std       688.431204   0.792517     0.855207        0.787571
min    132609.000000   0.000000     0.000000        0.000000
25%    135043.000000   1.000000     0.000000        0.000000
50%    135085.000000   1.000000     1.000000        1.000000
75%    135085.000000   2.000000     2.000000        2.000000
max    135086.000000   2.000000     2.000000        2.000000
Mexican              placeID      rating  food_rating  service_rating
count     238.000000  238.000000   238.000000      238.000000
mean   133424.168067    1.189076     1.281513        1.079832
std      1051.327887    0.775390     0.785251        0.772642
min    132584.000000    0.000000     0.000000        0.000000
25%    132723.000000    1.000000     1.000000        0.000000
50%    132825.000000    1.000000     1.000000        1.000000
75%    135025.000000    2.000000     2.000000        2.000000
max    135106.000000    2.000000     2.000000        2.000000
Seafood              placeID     rating  food_rating  service_rating
count      62.000000  62.000000    62.000000       62.000000
mean   135057.225806   1.241935     1.145161        1.177419
std        11.945806   0.782712     0.806668        0.758000
min    135039.000000   0.000000     0.000000        0.000000
25%    135049.000000   1.000000     0.250000        1.000000
50%    135060.000000   1.000000     1.000000        1.000000
75%    135060.000000   2.000000     2.000000        2.000000
max    135075.000000   2.000000     2.000000        2.000000
Pizzeria              placeID     rating  food_rating  service_rating
count      51.000000  51.000000    51.000000       51.000000
mean   134341.156863   1.117647     1.117647        1.039216
std      1063.971172   0.765430     0.816016        0.823669
min    132733.000000   0.000000     0.000000        0.000000
25%    132869.000000   1.000000     0.000000        0.000000
50%    135053.000000   1.000000     1.000000        1.000000
75%    135058.000000   2.000000     2.000000        2.000000
max    135058.000000   2.000000     2.000000        2.000000
Regional         placeID   rating  food_rating  service_rating
count       4.0  4.00000     4.000000            4.00
mean   132560.0  0.50000     1.000000            0.25
std         0.0  0.57735     1.154701            0.50
min    132560.0  0.00000     0.000000            0.00
25%    132560.0  0.00000     0.000000            0.00
50%    132560.0  0.50000     1.000000            0.00
75%    132560.0  1.00000     2.000000            0.25
max    132560.0  1.00000     2.000000            1.00
Armenian         placeID  rating  food_rating  service_rating
count       4.0    4.00          4.0            4.00
mean   132667.0    1.25          2.0            1.25
std         0.0    0.50          0.0            0.50
min    132667.0    1.00          2.0            1.00
25%    132667.0    1.00          2.0            1.00
50%    132667.0    1.00          2.0            1.00
75%    132667.0    1.25          2.0            1.25
max    132667.0    2.00          2.0            2.00
Cafeteria              placeID      rating  food_rating  service_rating
count     102.000000  102.000000   102.000000      102.000000
mean   134340.901961    1.205882     1.127451        1.078431
std      1068.446226    0.762204     0.753494        0.779518
min    132572.000000    0.000000     0.000000        0.000000
25%    132922.000000    1.000000     1.000000        0.000000
50%    135032.000000    1.000000     1.000000        1.000000
75%    135041.000000    2.000000     2.000000        2.000000
max    135088.000000    2.000000     2.000000        2.000000
American              placeID     rating  food_rating  service_rating
count      39.000000  39.000000    39.000000       39.000000
mean   132872.076923   1.153846     1.102564        1.128205
std       108.088264   0.708537     0.787898        0.800641
min    132583.000000   0.000000     0.000000        0.000000
25%    132851.000000   1.000000     0.500000        0.500000
50%    132872.000000   1.000000     1.000000        1.000000
75%    132951.000000   2.000000     2.000000        2.000000
max    132958.000000   2.000000     2.000000        2.000000
Bar              placeID      rating  food_rating  service_rating
count     140.000000  140.000000   140.000000      140.000000
mean   134729.642857    1.200000     1.135714        1.085714
std       761.453949    0.788405     0.806544        0.781860
min    132921.000000    0.000000     0.000000        0.000000
25%    135026.000000    1.000000     0.000000        0.000000
50%    135052.000000    1.000000     1.000000        1.000000
75%    135057.000000    2.000000     2.000000        2.000000
max    135073.000000    2.000000     2.000000        2.000000
Bar_Pub_Brewery              placeID     rating  food_rating  service_rating
count      59.000000  59.000000    59.000000       59.000000
mean   134867.915254   1.305085     1.169492        1.203390
std       587.571780   0.814825     0.854048        0.825868
min    132955.000000   0.000000     0.000000        0.000000
25%    135026.000000   1.000000     0.000000        0.500000
50%    135052.000000   2.000000     1.000000        1.000000
75%    135052.000000   2.000000     2.000000        2.000000
max    135073.000000   2.000000     2.000000        2.000000
Italian              placeID     rating  food_rating  service_rating
count      26.000000  26.000000    26.000000       26.000000
mean   133502.461538   1.038462     1.192308        0.961538
std      1070.365815   0.773603     0.800961        0.773603
min    132626.000000   0.000000     0.000000        0.000000
25%    132856.000000   0.250000     1.000000        0.000000
50%    132856.000000   1.000000     1.000000        1.000000
75%    135035.000000   2.000000     2.000000        1.750000
max    135109.000000   2.000000     2.000000        2.000000
Japanese              placeID     rating  food_rating  service_rating
count      29.000000  29.000000    29.000000       29.000000
mean   134208.241379   1.344828     1.448276        1.275862
std      1085.043701   0.720905     0.736120        0.701862
min    132766.000000   0.000000     0.000000        0.000000
25%    132875.000000   1.000000     1.000000        1.000000
50%    134999.000000   1.000000     2.000000        1.000000
75%    135072.000000   2.000000     2.000000        2.000000
max    135072.000000   2.000000     2.000000        2.000000
Contemporary              placeID     rating  food_rating  service_rating
count      32.000000  32.000000    32.000000       32.000000
mean   135037.250000   1.250000     1.156250        1.156250
std        14.112452   0.803219     0.766617        0.766617
min    135032.000000   0.000000     0.000000        0.000000
25%    135032.000000   1.000000     1.000000        1.000000
50%    135032.000000   1.000000     1.000000        1.000000
75%    135032.000000   2.000000     2.000000        2.000000
max    135074.000000   2.000000     2.000000        2.000000
Burgers              placeID     rating  food_rating  service_rating
count      31.000000  31.000000    31.000000       31.000000
mean   133852.612903   1.032258     1.161290        0.870968
std      1109.315395   0.752058     0.820438        0.718421
min    132858.000000   0.000000     0.000000        0.000000
25%    132861.000000   0.500000     0.500000        0.000000
50%    132870.000000   1.000000     1.000000        1.000000
75%    135086.000000   2.000000     2.000000        1.000000
max    135086.000000   2.000000     2.000000        2.000000
Mediterranean         placeID  rating  food_rating  service_rating
count       4.0    4.00         4.00        4.000000
mean   134976.0    1.75         1.75        1.000000
std         0.0    0.50         0.50        0.816497
min    134976.0    1.00         1.00        0.000000
25%    134976.0    1.75         1.75        0.750000
50%    134976.0    2.00         2.00        1.000000
75%    134976.0    2.00         2.00        1.250000
max    134976.0    2.00         2.00        2.000000
International              placeID     rating  food_rating  service_rating
count      37.000000  37.000000    37.000000       37.000000
mean   133317.783784   1.513514     1.567568        1.486486
std       888.293218   0.731119     0.765236        0.803521
min    132846.000000   0.000000     0.000000        0.000000
25%    132854.000000   1.000000     1.000000        1.000000
50%    132862.000000   2.000000     2.000000        2.000000
75%    132862.000000   2.000000     2.000000        2.000000
max    134986.000000   2.000000     2.000000        2.000000
Vietnamese         placeID    rating  food_rating  service_rating
count       6.0  6.000000     6.000000        6.000000
mean   132767.0  1.166667     1.333333        1.166667
std         0.0  0.983192     1.032796        0.983192
min    132767.0  0.000000     0.000000        0.000000
25%    132767.0  0.250000     0.500000        0.250000
50%    132767.0  1.500000     2.000000        1.500000
75%    132767.0  2.000000     2.000000        2.000000
max    132767.0  2.000000     2.000000        2.000000
Family              placeID     rating  food_rating  service_rating
count      14.000000  14.000000    14.000000       14.000000
mean   132769.428571   1.571429     1.571429        1.500000
std         2.344036   0.646206     0.646206        0.650444
min    132768.000000   0.000000     0.000000        0.000000
25%    132768.000000   1.000000     1.000000        1.000000
50%    132768.000000   2.000000     2.000000        2.000000
75%    132771.750000   2.000000     2.000000        2.000000
max    132773.000000   2.000000     2.000000        2.000000
Chinese              placeID     rating  food_rating  service_rating
count      41.000000  41.000000    41.000000       41.000000
mean   135057.536585   1.219512     1.195122        1.048780
std        18.297674   0.758689     0.781649        0.864616
min    135042.000000   0.000000     0.000000        0.000000
25%    135042.000000   1.000000     1.000000        0.000000
50%    135044.000000   1.000000     1.000000        1.000000
75%    135079.000000   2.000000     2.000000        2.000000
max    135079.000000   2.000000     2.000000        2.000000
Cafe-Coffee_Shop         placeID     rating  food_rating  service_rating
count      12.0  12.000000    12.000000       12.000000
mean   135030.0   1.583333     1.333333        1.416667
std         0.0   0.514929     0.651339        0.514929
min    135030.0   1.000000     0.000000        1.000000
25%    135030.0   1.000000     1.000000        1.000000
50%    135030.0   2.000000     1.000000        1.000000
75%    135030.0   2.000000     2.000000        2.000000
max    135030.0   2.000000     2.000000        2.000000
Game         placeID    rating  food_rating  service_rating
count       7.0  7.000000     7.000000        7.000000
mean   132851.0  1.428571     1.000000        1.000000
std         0.0  0.534522     0.816497        0.816497
min    132851.0  1.000000     0.000000        0.000000
25%    132851.0  1.000000     0.500000        0.500000
50%    132851.0  1.000000     1.000000        1.000000
75%    132851.0  2.000000     1.500000        1.500000
max    132851.0  2.000000     2.000000        2.000000
Bakery         placeID    rating  food_rating  service_rating
count       5.0  5.000000     5.000000        5.000000
mean   132866.0  1.400000     1.400000        1.400000
std         0.0  0.894427     0.547723        0.547723
min    132866.0  0.000000     1.000000        1.000000
25%    132866.0  1.000000     1.000000        1.000000
50%    132866.0  2.000000     1.000000        1.000000
75%    132866.0  2.000000     2.000000        2.000000
max    132866.0  2.000000     2.000000        2.000000
Breakfast-Brunch         placeID    rating  food_rating  service_rating
count       9.0  9.000000     9.000000        9.000000
mean   132954.0  1.000000     0.777778        0.888889
std         0.0  0.866025     0.833333        0.927961
min    132954.0  0.000000     0.000000        0.000000
25%    132954.0  0.000000     0.000000        0.000000
50%    132954.0  1.000000     1.000000        1.000000
75%    132954.0  2.000000     1.000000        2.000000
max    132954.0  2.000000     2.000000        2.000000

In [6]:
# 5. What are the payment methods preferred by social drinkers?

user_profiles = pd.read_csv(R'restaurant\userprofile.csv')
user_payments = pd.read_csv(R'restaurant\userpayment.csv')
user_profiles_and_payments = user_profiles.merge(user_payments, how = 'inner', on = 'userID')
user_profiles_and_payments.Upayment[user_profiles_and_payments.drink_level == 'social drinker'].value_counts()

cash                   38
VISA                    8
bank_debit_cards        8
MasterCard-Eurocard     2
Name: Upayment, dtype: int64

In [7]:
# 6. What are the cuisines preferred by eco-friendly users?

user_cuisines = pd.read_csv(R'restaurant\usercuisine.csv')
user_profiles_and_cuisines = user_profiles.merge(user_cuisines, how = 'inner', on = 'userID')
user_profiles_and_cuisines.Rcuisine[user_profiles_and_cuisines.interest == 'eco-friendly'].value_counts()

Mexican             12
Contemporary         3
American             2
Cafe-Coffee_Shop     2
Japanese             1
Italian              1
Diner                1
Hot_Dogs             1
Australian           1
Bar                  1
Cafeteria            1
Family               1
Latin_American       1
Burgers              1
Afghan               1
Doughnuts            1
Chinese              1
Portuguese           1
Sushi                1
Regional             1
Polish               1
Polynesian           1
Barbecue             1
Moroccan             1
Lebanese             1
Eastern_European     1
Indian-Pakistani     1
Fusion               1
Pizzeria             1
Name: Rcuisine, dtype: int64

In [8]:
# 7. What payment methods are preferred by students?

user_profiles_and_payments.Upayment[user_profiles_and_payments.activity == 'student'].value_counts()

cash                   109
VISA                    12
bank_debit_cards        10
American_Express         1
MasterCard-Eurocard      1
Name: Upayment, dtype: int64

In [9]:
# 8. What cuisines are preferred by Catholic students?
user_profiles_and_cuisines.loc[(user_profiles_and_cuisines['activity'] == 'student') & (user_profiles_and_cuisines['religion'] == 'Catholic'),['Rcuisine']]

              Rcuisine
1              Mexican
2              Mexican
12            American
14              Family
15    Cafe-Coffee_Shop
..                 ...
324          Brazilian
325           Southern
326  Dessert-Ice_Cream
327            Mexican
328            Mexican

[264 rows x 1 columns]

In [10]:
# 9. What are some of the demographics of the users rating Mexican service ratings a 2?
ratings_user_profiles = ratings.merge(user_profiles, how = 'inner', on = 'userID')
ratings_cuisines_user_profiles = ratings_user_profiles.merge(cuisines, how = 'inner', on = 'placeID')
ratings_cuisines_user_profiles.loc[(ratings_cuisines_user_profiles['Rcuisine'] == 'Mexican'), ['religion', 'marital_status']]

      religion marital_status
36    Catholic        married
37    Catholic        married
38    Catholic         single
39    Catholic         single
40        none         single
...        ...            ...
1028  Catholic         single
1029      none         single
1030  Catholic         single
1031  Catholic         single
1032  Catholic         single

[238 rows x 2 columns]